.country,
.dc-chart .deselected path, .dc-chart .deselected circle,
.dc-chart .selected path, .dc-chart .selected circle
{
    stroke: white;
    stroke-width: 1px;
}
.country.bermuda path
{
    display:none;
}

.dc-chart .x.axis text
{
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.dc-chart .axis text,
text.y-axis-label.y-label
{
    font: 12px sans-serif;
}

.chart-title p
{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
}
.chart-title button
{
    margin-right: 5px;
    margin-bottom: 5px;
}

.select-left
{
    margin-right: 5px;
}