.country,
.dc-chart .deselected path, .dc-chart .deselected circle,
.dc-chart .selected path, .dc-chart .selected circle
{
    stroke: white;
    stroke-width: 1px;
}
.country.bermuda path
{
    display:none;
}

.dc-chart .x.axis text
{
    text-anchor: end !important;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.dc-chart .axis text,
text.y-axis-label.y-label
{
    font: 12px sans-serif;
}

.chart-title p
{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
}
.chart-title button
{
    margin-right: 5px;
    margin-bottom: 8px;
}

select
{
    margin-right: 5px;
    margin-bottom: 8px;
    margin-top: 5px;
    max-width: 280px;
}

#select-age-mental-health
{
    display:none;
}
.dc-table-group
{
    display:none;
}

.dc-table-column._0,
.dc-table-column._1
{
    width: 140px;
    padding: 2px 0;
}

.full-width
{
    width: 100%;
}

.half-width
{
    width: 50%;
}

.chart-wrapper .chart-stage
{
    overflow: auto;
}

.btn--reset,
.intro_button
{
    margin: 8px 0;
}

.intro_button
{
    margin-right: 5px;
}

.chart-wrapper .chart-title
{
    font-weight: 400;
}

@media (max-width: 767px) {

    select
    {
        display: block;
        margin-bottom: 12px;
    }

    .container-fluid>.navbar-header
    {
        width: 100%;
        margin: 0;
    }

    .navbar-brand
    {
        padding: 15px 10px 15px 0;
    }

    .btn--reset,
    .intro_button
    {
        padding: 6px 8px;
    }

}