<!DOCTYPE html>
<html>

<head>
	<title>Europe Wellbeing Stats</title>
	<link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
	<link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
	<link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.min.css')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="application">

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="./">Europe Wellbeing</a>
                <button class="intro_button btn" type="button" autofocus onclick="javascript:introJs().start();">Start Tour</button>
				<button class="btn btn--reset" href="./">Reset</button>
			</div>
		</div>
	</div>

	<div id="outer" class="container-fluid">	
		<div class="row">
			<div class="col-md-6 col-md-6-js col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                            <!-- Life Satisfaction Map -->
                                <div class="chart-wrapper" data-step="1" data-intro="The description that you want" style="font-weight: normal" data-position="right">
                                    <div class="chart-title">Mean rating of life satisfaction (1 to 10) - 2015</div>
                                    <div class="chart-stage">
                                        <div id="life-satisfaction-map"></div>
                                    </div>
                                </div>
                            <!-- Life Satisfaction Map -->
                            </div>
                            <div class="col-xs-12 col-sm-4">
                            <!-- Life Satisfaction Table -->
                                <div class="chart-wrapper" data-step="2" data-intro="The description that you want" style="font-weight: normal" data-position="right">
                                    <div class="chart-title">
                                        <p>Mean rating of life satisfaction (1 to 10) - 2015</p>
                                    </div>
                                    <div class="chart-stage">
                                        <table id="life-satisfaction-datatable">
                                            <thead>
                                                <th class="data-table-col" data-col="country">Country</th>
                                                <th class="data-table-col" data-col="life-satisfaction">Rating</th>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            <!-- Life Satisfaction Table -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-7">
                            <!-- Happiness Chart -->
                                <div class="chart-wrapper" data-step="3" data-intro="The description that you want" style="font-weight: normal" data-position="right">
                                    <div class="chart-title">
                                        <p>Rating of happiness as high - 2014</p>
                                    </div>
                                    <div class="chart-title">
                                        <select id="select-happiness-rating">
                                            <option value="high" selected>high 9 to 10</option>
                                            <option value="ten">extremely happy</option>
                                            <option value="nine">9</option>
                                            <option value="eight">8</option>
                                            <option value="seven">7</option>
                                            <option value="six">6</option>
                                            <option value="five">5</option>
                                            <option value="four">4</option>
                                            <option value="three">3</option>
                                            <option value="two">2</option>
                                            <option value="one">1</option>
                                            <option value="zero">extremely unhappy</option>
                                        </select>
                                        <button class="sort-by-country">Sort by country</button>
                                        <button class="sort-by-value">Sort by value</button>
                                    </div>
                                    <div class="chart-stage">
                                        <div id="happiness-chart"></div>
                                    </div>
                                </div>
                            <!-- Happiness Chart -->
                            </div>
                            <div class="col-xs-12 col-sm-5">
                            <!-- Life Expectancy Chart -->
                                <div class="chart-wrapper" data-step="4" data-intro="The description that you want" style="font-weight: normal" data-position="right">
                                    <div class="chart-title">
                                        <p>Top 10 Healthy life expectancy at birth - all - 2015</p>
                                    </div>
                                    <div class="chart-title">
                                        <select id="select-sex">
                                            <option value="all" selected>male and female</option>
                                            <option value="male">male</option>
                                            <option value="female">female</option>
                                        </select>
                                    </div>
                                    <div class="chart-stage">
                                        <div id="life-expectancy-chart"></div>
                                    </div>
                                </div>
                            <!-- Life Expectancy Chart -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-md-js">
            <!-- Life worthwhileness Chart -->
                <div class="chart-wrapper" data-step="5" data-intro="The description that you want" style="font-weight: normal" data-position="left">
                    <div class="chart-title">
                        <p>I strongly agree or agree what I do in life is worthwhile - 2012</p>
                    </div>
                    <div class="chart-title">
                        <select id="select-life-worthwhileness">
                            <option value="agree-or-strongly-agree" selected>agree or strongly agree</option>
                            <option value="strongly-agree">strongly agree</option>
                            <option value="agree">agree</option>
                        </select>
                        <button class="sort-by-country">Sort by country</button>
                        <button class="sort-by-value">Sort by value</button>
                    </div>
                    <div class="chart-stage">
                        <div id="life-worthwhileness-chart"></div>
                    </div>
                </div>
            <!-- Life worthwhileness Chart -->
            </div>
            <div class="col-sm-12 col-md-6 col-md-js">
            <!-- Personal Finance -->
                <div class="chart-wrapper" data-step="6" data-intro="The description that you want" style="font-weight: normal" data-position="left">
                    <div class="chart-title">
                        <p>Percentage of the population rating their satisfaction with their job as high - 2013</p>
                    </div>
                    <div class="chart-title">
                        <select id="select-personal-finance">
                            <option value="job-satisfaction" selected>job satisfaction</option>
                            <option value="finances-satisfaction">finances satisfaction</option>
                            <option value="at-poverty-risk">at poverty risk</option>
                            <option value="ends-meet">ends meet</option>
                        </select>
                        <button class="sort-by-country">Sort by country</button>
                        <button class="sort-by-value">Sort by value</button>
                    </div>
                    <div class="chart-stage">
                        <div id="personal-finance-chart"></div>
                    </div>
                </div>
            <!-- Personal Finance -->
            </div>
            <div class="col-sm-12 col-md-6 col-md-6-js">
                <div class="row">
                    <div class="col-sm-6">
                    <!-- Unemployment rate Chart -->
                        <div class="chart-wrapper" data-step="7" data-intro="The description that you want" style="font-weight: normal" data-position="left">
                            <div class="chart-title">Top 10 Harmonised unemployment rate - 2015</div>
                            <div class="chart-stage">
                                <div id="unemployment-rate-chart"></div>
                            </div>
                        </div>
                    <!-- Unemployment rate Chart -->
                    </div>
                    <div class="col-sm-6">
                    <!-- Median equivalised net income Chart -->
                        <div class="chart-wrapper" data-step="8" data-intro="The description that you want" style="font-weight: normal" data-position="left">
                            <div class="chart-title">Top 10 Median equivalised net income in PPS - 2015</div>
                            <div class="chart-stage">
                                <div id="net-income-chart"></div>
                            </div>
                        </div>
                    <!-- Median equivalised net income Chart -->
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-js">
                    <!-- Where Europeans Live Chart -->
                        <div class="chart-wrapper" data-step="9" data-intro="The description that you want" style="font-weight: normal" data-position="right">
                            <div class="chart-title">
                                <p>Percentage of the population rating their satisfaction with their accommodation as high - 2013</p>
                            </div>
                            <div class="chart-title">
                                <select id="select-where-europeans-live">
                                    <option value="accommodation-satisfaction" selected>accommodation satisfaction</option>
                                    <option value="feel-safe">feeling safe when walking alone at night</option>
                                    <option value="green-areas-satisfaction">satisfaction with recreational and green areas</option>
                                </select>
                                <button class="sort-by-country">Sort by country</button>
                                <button class="sort-by-value">Sort by value</button>
                            </div>
                            <div class="chart-stage">
                                <div id="where-europeans-live-chart"></div>
                            </div>
                        </div>
                    <!-- Where Europeans Live Chart -->
                    </div>
                    <div class="col-sm-12 col-md-6 col-md-js">
                    <!-- Neighbourhood Chart -->
                        <div class="chart-wrapper" data-step="10" data-intro="The description that you want" style="font-weight: normal" data-position="left">
                            <div class="chart-title">
                                <p>Feeling close to people in the area where I live - 2012</p>
                            </div>
                            <div class="chart-title">
                                <select id="select-neighbourhood">
                                    <option value="agree-or-strongly-agree" selected>agree or strongly agree</option>
                                    <option value="strongly-agree">strongly agree</option>
                                    <option value="agree">agree</option>
                                </select>
                                <button class="sort-by-country">Sort by country</button>
                                <button class="sort-by-value">Sort by value</button>
                            </div>
                            <div class="chart-stage">
                                <div id="neighbourhood-chart"></div>
                            </div>
                        </div>
                    <!-- Neighbourhood Chart -->
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-js">
                    <!-- Relationships Chart -->
                        <div class="chart-wrapper" data-step="11" data-intro="The description that you want" style="font-weight: normal" data-position="right">
                            <div class="chart-title">
                                <p>Average rating of satisfaction with personal relationships (1-10) 2013</p>
                            </div>
                            <div class="chart-title">
                                <select id="select-relationships">
                                    <option value="relationships-satisfaction" selected>relationships satisfaction</option>
                                    <option value="social-support">social support</option>
                                    <option value="loneliness">loneliness</option>
                                </select>
                                <button class="sort-by-country">Sort by country</button>
                                <button class="sort-by-value">Sort by value</button>
                            </div>
                            <div class="chart-stage">
                                <div id="relationships-chart"></div>
                            </div>
                        </div>
                    <!-- Relationships Chart -->
                    </div>
                    <div class="col-sm-12 col-md-6 col-md-js">
                    <!-- Health Chart -->
                        <div class="chart-wrapper" data-step="12" data-intro="The description that you want" style="font-weight: normal" data-position="left">
                            <div class="chart-title">
                                <p>Percentage of adults aged 15 and over reporting to be in good or better than good health - 2014</p>
                            </div>
                            <div class="chart-title">
                                <select id="select-health-chart">
                                    <option value="good-health" selected>perceived good health</option>
                                    <option value="mental-health">mental health scale</option>
                                </select>
                                <select id="select-age-good-health">
                                    <option value="15-plus" selected>Age 15+</option>
                                    <option value="15-24">Age 15-24</option>
                                    <option value="25-44">Age 25-44</option>
                                    <option value="45-64">Age 45-64</option>
                                    <option value="65-plus">Age 65+</option>
                                </select>
                                <select id="select-age-mental-health">
                                    <option value="all" selected>All ages</option>
                                    <option value="18-24">Age 18-24</option>
                                    <option value="25-34">Age 25-34</option>
                                    <option value="35-49">Age 35-49</option>
                                    <option value="50-64">Age 50-64</option>
                                    <option value="65-plus">Age 65+</option>
                                </select>
                                <button class="sort-by-country">Sort by country</button>
                                <button class="sort-by-value">Sort by value</button>
                            </div>
                            <div class="chart-stage">
                                <div id="health-chart"></div>
                            </div>
                        </div>
                    <!-- Health Chart -->
                    </div>
                </div>
            </div>
		</div>
  </div>

  <hr>

  <p class="small text-muted"> Europe Wellbeing Data by Tatjana Kolhapure</p>

  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{url_for ('static', filename='lib/js/intro.min.js')}}" type="text/javascript"></script>

</body>
</html>