<!DOCTYPE html>
<html>

<head>
	<title>Europe Wellbeing Stats</title>
	<link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
	<link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
	<link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
</head>

<body class="application">

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="./">Europe Wellbeing</a>
			</div>
		</div>
	</div>

	<div id="outer" class="container-fluid">	
		<div class="row">
			<div class="col-sm-4">
			<!-- Life Satisfaction Map -->
				<div class="chart-wrapper">
					<div class="chart-title">Mean rating of life satisfaction - 2015</div>
					<div class="chart-stage">
						<div id="life-satisfaction-map"></div>
					</div>
				</div>
			<!-- Life Satisfaction Map -->
			</div>
			<div class="col-sm-8">
            <!-- Happiness Chart -->
                <div class="chart-wrapper">
                    <div class="chart-title">
                        <p>Rating of happiness as high - 2014</p>
                    </div>
                    <div class="chart-title">
                        <select id="select-happiness-rating">
                            <option value="high" selected>high 9 to 10</option>
                            <option value="ten">extremely happy</option>
                            <option value="nine">9</option>
                            <option value="eight">8</option>
                            <option value="seven">7</option>
                            <option value="six">6</option>
                            <option value="five">5</option>
                            <option value="four">4</option>
                            <option value="three">3</option>
                            <option value="two">2</option>
                            <option value="one">1</option>
                            <option value="zero">extremely unhappy</option>
                        </select>
                        <button class="sort-by-country">Sort by country</button>
                        <button class="sort-by-value">Sort by value</button>
                    </div>
                    <div class="chart-stage">
                        <div id="happiness-chart"></div>
                    </div>
                </div>
            <!-- Happiness Chart -->
			</div>
			<div class="col-sm-8">
            <!-- Personal Finance -->
                <div class="chart-wrapper">
                    <div class="chart-title">
                        <p>Personal Finance</p>
                        <select id="select-personal-finance">
                            <option value="job-satisfaction" selected>job satisfaction</option>
                            <option value="finances-satisfaction">finances satisfaction</option>
                            <option value="at-poverty-risk">at poverty risk</option>
                            <option value="ends-meet">ends meet</option>
                        </select>
                    </div>
                    <div class="chart-title">
                        <p>Percentage of the population rating their satisfaction with their job as high - 2013</p>
                        <button class="sort-by-country">Sort by country</button>
                        <button class="sort-by-value">Sort by value</button>
                    </div>
                    <div class="chart-stage">
                        <div id="personal-finance-chart"></div>
                    </div>
                </div>
            <!-- Personal Finance -->
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-6">
					<!-- Median equivalised net income Chart -->
						<div class="chart-wrapper">
							<div class="chart-title">Median equivalised net income in PPS - 2015</div>
							<div class="chart-stage">
								<div id="net-income-chart"></div>
							</div>
						</div>
					<!-- Median equivalised net income Chart -->
					</div>
					<div class="col-sm-6">
					<!-- Unemployment rate Chart -->
						<div class="chart-wrapper">
							<div class="chart-title">Harmonised unemployment rate - 2015</div>
							<div class="chart-stage">
								<div id="unemployment-rate-chart"></div>
							</div>
						</div>
					<!-- Unemployment rate Chart -->
					</div>
				</div>
			</div>
			<div class="col-sm-6">
			<!-- Life worthwhileness Chart -->
				<div class="chart-wrapper">
                    <div class="chart-title">
                        <p>I strongly agree or agree what I do in life is worthwhile - 2012</p>
                    </div>
					<div class="chart-title">
                        <select id="select-life-worthwhileness" class="select-left">
                            <option value="agree-or-strongly-agree" selected>agree or strongly agree</option>
                            <option value="strongly-agree">strongly agree</option>
                            <option value="agree">agree</option>
                        </select>
                        <button class="sort-by-country">Sort by country</button>
                        <button class="sort-by-value">Sort by value</button>
                    </div>
					<div class="chart-stage">
						<div id="life-worthwhileness-chart"></div>
					</div>
				</div>
			<!-- Life worthwhileness Chart -->
			</div>
			<div class="col-sm-6">
			<!-- Where Europeans Live Chart -->
				<div class="chart-wrapper">
					<div class="chart-title">Where Europeans live</div>
					<div class="chart-stage">
						<div id="where-europeans-live-chart"></div>
					</div>
				</div>
			<!-- Where Europeans Live Chart -->
			</div>
			<div class="col-sm-6">
			<!-- Neighbourhood Chart -->
				<div class="chart-wrapper">
                    <div class="chart-title">
                        <p>Feeling close to people in the area where I live - 2012</p>
                    </div>
					<div class="chart-title">
                        <select id="select-neighbourhood" class="select-left">
                            <option value="agree-or-strongly-agree" selected>agree or strongly agree</option>
                            <option value="strongly-agree">strongly agree</option>
                            <option value="agree">agree</option>
                        </select>
                        <button class="sort-by-country">Sort by country</button>
                        <button class="sort-by-value">Sort by value</button>
                    </div>
					<div class="chart-stage">
						<div id="neighbourhood-chart"></div>
					</div>
				</div>
			<!-- Neighbourhood Chart -->
			</div>
			<div class="col-sm-6">
			<!-- Relationships Chart -->
				<div class="chart-wrapper">
					<div class="chart-title">Relationships</div>
					<div class="chart-stage">
						<div id="relationships-chart"></div>
					</div>
				</div>
			<!-- Relationships Chart -->
			</div>
			<div class="col-sm-6">
			<!-- Health Chart -->
				<div class="chart-wrapper">
					<div class="chart-title">Health</div>
					<div class="chart-stage">
						<div id="health-chart"></div>
					</div>
				</div>
			<!-- Health Chart -->
			</div>
			<div class="col-sm-6">
			<!-- Life Expectancy Chart -->
				<div class="chart-wrapper">
					<div class="chart-title">Life Expectancy</div>
					<div class="chart-stage">
						<div id="life-expectancy-chart"></div>
					</div>
				</div>
			<!-- Life Expectancy Chart -->
			</div>
		</div>
  </div>

  <hr>

  <p class="small text-muted"> Europe Wellbeing Data by Tatjana Kolhapure</p>

  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>

</body>
</html>